@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: auto;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.direita {
  margin-right: 2vw;
}

.esquerda {
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 8vh;
}

button {
  height: 3vw;
  width: 8vw;
  border-radius: 10px;
  background-color: rgb(206, 172, 237);
}

button:hover {
  height: 4vw;
  width: 8vw;
  border-radius: 10px;
  background-color: rgb(88, 33, 140);
  color: white;
}

.postagem {
  width: 70vw;
  margin-top: 10vh;
  background-color: blueviolet;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
}

article {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

footer {
  width: 100%;
  background-color: #8e44ad;
  display: flex;
  justify-content: center;
}
h4 {
  color: white;
}

.postagemFoto {
  height: 50vh;
  width: 100%;
}



/* Slide -------------------------------------------------------------------------*/


.container {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  background-color: blue;
  position: relative;
}

.container input {
  display: none;
}

.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3em;
}

.bannerS {
  height: 100%;
  width: 100%;
}

#one {
  background-color: #27ae60;
}

#two {
  background-color: #2980b9;
}

#three {
  background-color: #8e44ad;
}

.controls {
  color: #fff;
  position: absolute;
  bottom: 1em;
  z-index: 9;
  width: 100%;
  text-align: center;
}

#item1:checked,
#item2:checked,
#item3:checked {
  color: #bdc3c7;
}

#item1:checked~#one,
#item2:checked~#two,
#item3:checked~#three {
  z-index: 9;
}

/* Mobile -------------------------------- */ 
@media ( max-width: 600px) {
h1 {
  display: none;
}
.direita {
  width: 65vw;
}
button {
  height: 8vw;
  min-width:20vw;
  border-radius: 10px;
  background-color: rgb(206, 172, 237);
}

button:hover {
  height: 8vw;
  min-width:20vw;
  border-radius: 10px;
  background-color: rgb(88, 33, 140);
  color: white;
}

}